@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
    .head {
      padding-top: 139px;
      background-size: 1350px;
    }
    .intl-tel-input {
      display: block;
    }
    
    .principle-item p {
      max-width: 264px;
    }
    .how_work-info {
      margin-left: auto;
      margin-right: auto;
    }
  }
}